body {
  background: linear-gradient(to bottom, rgb(127, 217, 249), #cecafc, #ffb575);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#collisionCanvas {
  opacity: 0;
}