body {
  background: linear-gradient(to bottom, red, green, blue);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas {
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}